#countdown {
    position: relative;
    margin: auto;
    margin-top: 100px;
    height: 80px;
    width: 80px;
    text-align: center;
}

#countdown-number {
    color: red;
    display: inline-block;
    line-height: 80px;
}

svg {
    position: absolute;
    top: 40;
    right: 40;
    width: 80px;
    height: 80px;
    transform: rotateY(-180deg) rotateZ(90deg);
    transform-origin: 50% 50%;
}

svg circle {
    stroke-dasharray: 213px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 2px;
    stroke: red;
    fill: none;
    animation: countdown 10s linear forwards;
}

@keyframes countdown {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}
