html {
    position: relative;
    min-height: 100%;
}

body {
    /*padding-top: 5rem;
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.starter-template {
    padding: 1rem 1.5rem;
    text-align: center;
}

.row-adaption {
    margin: 0px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    background-color: #343a40;
    opacity: 0.8;
    overflow-x: scroll !important;
}

/* Custom page CSS
-------------------------------------------------- */

/* Not required for template or sticky footer method. */

body > .container {
    padding: 60px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
    white-space: nowrap;
}

.footer-helper {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    padding-bottom: 80px;
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

/*Deaktiviert wegen Sticky Footer*/

/*html,
body {
    height: 100%;
}*/

.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}

.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}

.btn-link:hover {
    color: #0056b3;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btn-link:focus,
.btn-link.focus {
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
}

.modal-open .supreme-container {
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.btn-intro {
    margin: .25rem;
}


a:not([href]):not([tabindex]) {
    color: inherit;
    text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    color: #007bff;
    text-decoration: none;
}

#tour_disabled {
    cursor: pointer;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.flex-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        -webkit-box-flex: 1;
        flex: 1;
    }
}

.img-responsive {
    display: inline-block;
}

.vertical-horizontal-center {
    /* display: flex; Auskommentiert für top + bottom in section */
    justify-content: center;
    align-items: center;
}

.img-favicon {
    width: 30%;
}

.img-theme {
    width: 100%;
    height: 100%;
    background-size: cover;
}

.fixed-element {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.pagination li.active {
    background-color: #ee6e73;
}

.pagination li.disabled a {
    cursor: default;
    color: #999;
}

.parallax-container .parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.parallax-container .parallax img {
    opacity: 0;
    position: absolute;
    left: 50%;
    bottom: 30vh;
    width: 100%;
    max-width: 900px;
    min-width: 400px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.fitted-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.fit-top-center {
    object-position: top center;
}

.head-wrapper {
    position: relative;
}

.head-text {
    position: absolute;
    width: 100%;
    top: 10%;
    color: white;
}

.fitted-section {
    height: calc(100vh);
}

.container-slim {
    max-width: 500px;
    margin: auto;
}

section {
    width: 100%;
}

.upper {
    height: 35%;
    width: 100%;
}

.lower {
    height: 65%;
    width: 100%
}

.center-icon {
    border: solid 2px;
    border-radius: 20px;
    padding: 20px;
    width: 8rem;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
}

.bootstrap-icon {
    width: 8rem;
    padding: 0px !important;
    border: none !important;
}

.jquery-icon {
    width: 16rem;
    height: 8rem
}

.no-flex{
    flex-grow: 0 !important;
    margin: auto;
}
